__pycache__
.vscode
.ipynb_checkpoints
bus_4in1_datasets*
model_baseline*
model_clicktrained*
final_frames*
notify_settings
article_*_dir
*.pkl

!README.md
!evaluate
!*.py
!*.ipynb
!notify.sh
!.gitignore
!.gitattributes
